@font-face {
    font-family: 'Blanka';
    src: url('../assets/FONTs/Blanka-Regular.otf') format('opentype');
  }
  
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500&display=swap');
  
 
  
  
  /* Card Styling */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 50px;
    text-align: center; /* Center the content horizontally */
  }
  .card {
    
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin: 15px auto; /* Center the card horizontally */
    box-sizing: border-box; /* Ensure padding doesn't increase total card size */
  }
  
  .card:hover {
    background-color: #ffffffa4;
  }
  
  .card-content {
    padding: 16px;
    text-align: center;
  }
  
  .card-title {
    font-family: 'Blanka', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 8px; /* Add space between title and description */
  }
  
  .card-description {
    font-size: 1rem;
  }
  
  /* Making Cards Square */
  .card {
    width: 300px;  /* Example square size - adjust as needed */
    height: 300px; 
  }
  
  /* Responsive Styling */
  @media (max-width: 900px) { /* Adjust breakpoint as needed */
    .card {
      width: calc(50% - 30px); /* 2 cards per row (with margins) */
    }
  }
  
  @media (max-width: 600px) {
    .card {
      width: 100%;
      margin: 15px 0; /* Adjust vertical spacing */
    }
  }
 